<!-- <div class="alert alert-success" ng-if="isSuccess">
    Employee added successuly!
</div>
<div class="alert alert-danger" ng-if="isError">
    There is some problem while saving data!
</div> -->

<pre>Employee Info</pre>
<pre>{{$ctrl.empList}}</pre>
<table class="table table-bordered">
<thead>
    <tr>
        <th>SrNo.</th><th>Name</th> <th>Age</th> <th>Address</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="emp in $ctrl.empList track by $index">
        <td><div ng-bind="$index"></div></td><td><div ng-bind="emp.name"></div></td> <td><div ng-bind="emp.age"></div>    </td> <td><div ng-bind="emp.address"></div></td>
    </tr>
</tbody>
</table>
<h2>Add New Employee:</h2>
<div class="row">
    <form name="employeeform" novalidate class="form-horizontal" ng-submit="$ctrl.addEmployee(employee)">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">employee Name:</label>
            <div class="col-sm-10">
                <input type="text" name="empName" required class="form-control" ng-model="employee.name"  placeholder="employee Name">
                    <span ng-if="employeeform.empName.$invalid && employeeform.empName.$dirty">Required</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="address">Address:</label>
            <div class="col-sm-10">
                <input type="text" name="empAddress" required class="form-control" ng-model="employee.address"  placeholder="employee address">
                <span ng-if="employeeform.empAddress.$invalid && employeeform.empAddress.$dirty">Requred</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="age">Age:</label>
            <div class="col-sm-10">
                <input type="number" name="empAge" required class="form-control" ng-model="employee.age"  placeholder="age">
                <span ng-if="employeeform.empAge.$invalid && employeeform.empAge.$dirty">Required</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-disabled="employeeform.$invalid" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>