<h1>{{$ctrl.title}}</h1>
<!--{{$ctrl.post}}-->



<table class="table">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Body
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in $ctrl.post track by $index">
            <td>
                {{::post.userId}}
            </td>
            <td>
              <a ui-sref="postdetails({id: post.id})">{{::post.id}}</a>
            </td>
            <td>
                {{::post.title}}
            </td>
            <td>
                {{::post.body}}
            </td>
        </tr>
    </tbody>
</table>