<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="main.controller.js"></script>
    <script src="product.controller.js"></script>
</head>

<body class="container" ng-controller="mainController">
    {{message}}
    <div ng-bind="message"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">Employee Information</div>
        <div class="panel-body">
            {{employeeInfo.name}} {{employeeInfo.address}} {{employeeInfo.age}}
        </div>
    </div>
    <button class="btn btn-primary" ng-click="toggleTable($event,isTableVisible)">{{state}}</button>


    <div ng-switch="state">
        <div ng-switch-when="Show">
            Show Data
        </div>
        <div ng-switch-when="Hide">
            Hide Data
        </div>
        <div ng-switch-default> State not known </div>
    </div>
    <div ng-controller="productcontroller">
        <table ng-if="isTableVisible" class="table">
            <thead>
                <tr>
                    <th>
                        Sr.No
                    </th>
                    <th>
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Qunatity
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products track by $index">
                    <td>
                        {{$index + 1}}
                    </td>
                    <td>
                        <img ng-src="{{product.imagePath}}" alt="Smiley face" height="42" width="42">
                    </td>
                    <td>
                        {{product.name}}
                    </td>
                    <td ng-bind="product.description">
                    </td>
                    <td>
                        {{product.price}}
                    </td>
                    <td>
                        <input type="number" ng-model="product.qty" placeholder="Quantity">
                    </td>
                    <td ng-bind="product.price * product.qty">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>