 {{message}}
<div ng-bind="message"></div>
<div class="panel panel-primary">
    <div class="panel-heading">Employee Information</div>
    <div class="panel-body">
        {{employeeInfo.name}} {{employeeInfo.address}} {{employeeInfo.age}}
    </div>
</div>
<input type="checkbox" ng-model="isTableVisible" ng-click="toggleTable($event,isTableVisible)" name="toggleCheck">Toggle</input>
{{isTableVisible}}
<button class="btn btn-primary" ng-click="toggleTable($event,isTableVisible)">{{state}}</button>


<div ng-switch="state">
    <div ng-switch-when="Show">
        Show Data
    </div>
    <div ng-switch-when="Hide">
        Hide Data
    </div>
    <div ng-switch-default> State not known </div>
</div>
<div ng-controller="productcontroller">
    <!--<pre>{{productform | json}}</pre> -->


    <div class="row">
        <input type="text" name="filterText" ng-model="filterText" placeholder="filterText">
        <!--append property name for specific search-->
        <select name="limitto" id="" ng-model="limitTo" ng-options="prod.name for prod in products"></select>
        <select name="pagesize" ng-model="pagelimit" ng-options="page for page in pageSize"></select>
    </div>

</div>