<div class="col-md-6">
      <form name="loginform" class="form-horizontal" novalidate ng-submit="login(user)">
        <div class="form-group">
            <label class="control-label col-md-4" for="name">User Name:</label>
            <div class="col-md-8">
                <input name="name" type="text" required class="form-control" ng-model="user.name" placeholder="User Name">
                <span class="alert-danger" ng-if="loginform.name.$invalid && loginform.name.$dirty">Please provide user name.</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="description">Password:</label>
            <div class="col-md-8">
                <input name="password" type="password" required class="form-control" ng-model="user.password" placeholder="Password">
                <span class="alert-danger" ng-if="loginform.password.$invalid && loginform.password.$dirty">Please enter password.</span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button ng-disabled="loginform.$invalid" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    </div>