<h1>Place an Order</h1>

<form name="orderForm" class="form-horizontal" ng-submit="saveOrder(order)" novalidate>
  <div class="form-group">
        <label class="control-label col-md-2" for="name">Select Customer:</label>
        <div class="col-md-10">
            <select name="customer" required ng-model="order.customer"  class="form-control"
            ng-options="cust.name for cust in customers"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Select Product:</label>
        <div class="col-md-10">
             <select name="product" required ng-model="order.product"  class="form-control"
            ng-options="prod.name for prod in products" ng-change="changePrice(order.product)"></select>
            <!--<input type="text" ng-list="|" ng-model="products"> Array List example--> 
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="name">Price:</label>
        <div class="col-md-10">
           <label class="control-lable"/> {{order.product.price}}
           Total Amount : {{order.totalAmount}}
        </div>
    </div>
     <div class="form-group">
        <label class="control-label col-md-2" for="name">Quantity:</label>
        <div class="col-md-10">
           <input type="number" class="form-control" ng-change="updatePrice(order.qty)" required ng-model="order.qty"/>
        </div>
    </div>
     <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="orderForm.$invalid" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>