<a ng-click="goTo('bottom')" id="top">Click here to go to bottom</a> {{isLoggedIn}} - {{rootData}}

<div class="alert alert-success" ng-if="isSuccess">
    Product added successuly!
</div>
<div class="alert alert-danger" ng-if="isError">
    There is some problem while saving data!
</div>
<form name="productform" class="form-horizontal" novalidate ng-submit="addProduct(product)">
    <div class="form-group">
        <label class="control-label col-sm-2" for="name">Product Name:</label>
        <div class="col-sm-10">
            <input name="productName" type="text" minlength="3" maxlength="5" required class="form-control" ng-model="product.name" placeholder="Product Name">
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-sm-10">
            <input name="prodDesc" type="text" required class="form-control" ng-model="product.description" placeholder="Product description">
            <span class="alert-danger" ng-if="productform.prodDesc.$invalid && productform.prodDesc.$dirty">Product description is required.</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="price">Price:</label>
        <div class="col-sm-10">
            <input name="price" type="number" min="1000" max="10000" required class="form-control" ng-model="product.price" placeholder="Price">
            <span class="alert-danger" ng-if="productform.price.$invalid && productform.price.$dirty">Product price is required.</span>
            <span class="alert-danger" ng-if="productform.price.$invalid && productform.price.$error.min">Minimum price is 1000.</span>
            <span class="alert-danger" ng-if="productform.price.$invalid && productform.price.$error.max">Max price is 10000.</span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="productform.$invalid" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Sr.No
                </th>
                <th>
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Qunatity
                </th>
                <th>
                    Total
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products | filter: filterText | orderBy : 'name' : false | limitTo : pagelimit">
                <td>
                    <input type="checkbox" ng-model="product.selected">
                </td>
                <td>
                    <img ng-src="{{product.imagePath}}" alt="Smiley face" height="42" width="42">
                </td>
                <td>
                    {{product.name | uppercase}}
                </td>
                <td ng-bind="product.description | lowercase">
                </td>
                <td>
                    {{product.price| inr : 3 }}
                </td>
                <td>
                    <input type="number" ng-model="product.qty" placeholder="Quantity">
                </td>
                <td ng-bind="product.price * product.qty | currency">
                </td>
                <td>
                    <button ui-sref=".details({ id: $index+1 })" type="button" class="btn btn-primary">View Details</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button ng-click="placeOrder(products)" class="btn btn-primary">Place Order</button>

<div>
    <ui-view></ui-view>
</div>


<button ui-sref=".order" class="btn btn-primary">Orders</button>

<div ui-view='orders'></div>
<div ui-view='customer'></div>
</div>

<a ng-click="goTo('top')" id="bottom">Click here to go to top</a>